div.tooltip {
    position: absolute;
    text-align: center;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    padding: 2px;
    background: white;
    border: 3px solid navy;
    border-radius: 5px;
    pointer-events: none;
    text-align: left;
}

.tooltipP {
    margin-bottom: 0;
}
    
#controls{
    top: 0;
    background-color: white;
    border: 3px solid navy;
}

#iconKey{
    padding: 0.5%;
    background-color: whitesmoke;
    overflow-y: hidden;
}
#iconKey ul {
    padding-left: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
}
#iconKey ul li {
    flex: 1 0 25%;
    padding: 0.8%;
    border: 1px solid #444;
    list-style-type: none;
}

#iconKey hr {
    margin: 0px 4px;
}

input[type=checkbox] + #iconKey {
    height: 0px;
    padding: 0px;
    transition-property: all;
    transition-duration: 1s;
}

input[type=checkbox]:checked + #iconKey {
    height: 11em;
    padding: 0.5%;
    transition-property: all;
    transition-duration: 1s;
} 

#overview{
   max-width: 100em;
    margin: 10px auto;
    border: beige;
    border-style: dotted;
    padding: 1em;
    background-color: wheat;
}

.errorNote{
    color: darkred;
    padding: 1%;
    background-color: peachpuff;
    border-radius: 12px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.highlightHTML{
color: steelblue;
    padding: 3px;
}
/* setting this with a psusdo hover class for now, but it might be better to use a ".highlightHTML .active" rule and we just add and subtract the active class with d3. */
/* .highlightHTML:hover {
    color: white;
    background-color: brown;
    border-radius: 5px;
} */

.highlightSegment {
    color: slateblue;
    padding: 3px;
}
/* .highlightSegment:hover{
    color: white;
    background-color: chocolate;
    border-radius: 10px;
} */

/* Not sure if I need a different set of rules for svg elements since they use fill instead of color */
.highlightSVG {
    fill: steelblue;
    padding: 3px;
}


.descriptionText{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 11pt;
    color: #3f4143;
}